

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calistoga", Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: linear-gradient(180deg, rgb(1, 52, 78) 75%, rgb(27, 26, 26));
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 54px;
    color: #ddd;
}

p {
    font-size: 24px;
    color: #ddd;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.gridGenerator,
.reset {
    border-radius: 25px;
    font-family: "Calistoga", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    width: 300px;
    padding: 20px;
    font-size: 20px;
    border: 5px solid #222;
    box-shadow: 10px 2px 2px 1px black;
}

.gridGenerator:hover,
.reset:hover {
    background-color: rgb(226, 198, 39);
}

.gridContainer {
    background-color: #ddd;
    border-radius: 5px;
    flex-direction: column;
    margin-top: 50px;
    width: 600px;
    height: 600px;
    gap: 1;

    display: flex;
}

.gridBox {
    /* width: 30px;
    height: 30px; */
    flex: auto;
    gap: 1px;
    border: .5px solid black;
}

.gridRow {
    /* width: 30px;
    height: 30px; */
    display: flex;
    flex: auto;
    gap: 1;
    border: .5px solid black;
}

.color {
    background-color: blue;
}